<!DOCTYPE HTML>
<html>
<head>
    <title>Spring Boot Heroku Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Styling -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="style.css"/>

    <!-- Scripts -->
    <script src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="script.js"></script>
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h1>Spring Boot Heroku Example</h1>
            <p class="lead">Demo application for showing how to run a <a href="http://projects.spring.io/spring-boot/">Spring Boot</a> application on <a href="https://heroku.com">Heroku</a>.</p>
        </div>
    </div>
</body>
</html>