<!DOCTYPE HTML>
<html>
<head>
    <title>Spring Boot Heroku Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Styling -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="style.css"/>

    <!-- Scripts -->
    <script src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="script.js"></script>
</head>

<body ng-app="app">
    <div class="container">
        <div class="page-header">
            <h1>Medical text indexer POC</h1>
            <p class="lead">Proof-of-concept for highlighting medical terms in given text using <a href="https://ii.nlm.nih.gov/Interactive/mti.shtml">NLM MTI</a>.</p>
        </div>
        <div class="content" ng-controller="MainController">
            <div class="text-input">
                <textarea ng-model="textContent"
                          placeholder="Paste the text for processing here..">
                </textarea>
                <button class="btn btn-success"
                        ng-click="processText(textContent)"
                        ng-disabled="!textContent">Submit</button>
            </div>
            <div class="results">
                <p class="spinner" ng-if="showSpinner">Loading...</p>
                <div ng-if="!showSpinner">
                    <div ng-if="results">{{ results }}</div>
                    <p ng-if="!results">No matches found.</p>
                    <p class="error" ng-if="error">{{ errors }}</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>